<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<title th:text="${titulo}">ACTION</title>
</head>
<body>

	<h3 th:text="${titulo}"></h3>
	<form th:action="@{/form}" method="post">

		<div>
			<label for="username">Username</label>
			<div>
				<input type="text" name="username" id="username">

			</div>
		</div>

		<div>
			<label for="password">PassWord</label>
			<div>
				<input type="password" name="password" id="password">

			</div>
		</div>

		<div>
			<label for="email">E-mail</label>
			<div>
				<input type="email" name="email" id="email">

			</div>

		</div>

		<div>

			<input type="submit" value="Enviar" />

		</div>


	</form>
</body>
</html>